<section>
    <h1>Products</h1>
    <ng-container *ngIf="!(loading$ | async);">
        
        <label>Sort by:&nbsp;</label>
        <select [formControl]="sortControl">
            <option value="title">Name</option>
            <option value="price">Price</option>
        </select>

        <div class="input-field">
            <label>Search:&nbsp;</label>
            <input placeholder="Search Product.." [formControl]="search">
        </div>
        <hr />
        <app-product 
            *ngFor="let product of (products$ | async)"
            (add)="addProductToCart($event)"
            (subtract)="subtract($event)"
            [product]="product">
        </app-product>

    </ng-container>

</section>